<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>caltip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7170A91E1D8B5EC200F5EA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7170A9321D8B5EC300F5EA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7170A93D1D8B5EC300F5EA65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
